@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 라이트모드 전체 배경 */
html {
  background-color: #f7f7f7 !important;
}

/* 다크모드 전체 배경 */
html.dark {
  background-color: #000 !important;
}

/* 기본 스크롤바 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 4px;
}
html.dark ::-webkit-scrollbar-thumb {
  background: #4b5563;
}
